* {
  padding: 0;
  margin: 0;
}

.logo {
  position: relative;
  height: 50px;
}

.container{
  position: relative;
  margin-top: 10px;
  margin-top: 10px;
}

.headerContainer {
  height: 60px;
}

.h3 {
  position: relative;
  margin-top: 10px;
}

.head {
  display: inline-block;
}

#maxRowsPerPage {
  width: 5%;
}

#run {
  margin-top: 10px;
  margin-left: 20%;
}

#output {
  width: 10%;
}

th, td {
  text-align: center;
}
