* {
  padding: 0;
  margin: 0;
}

.header {
  position: relative;
  background-color: #f7f7f9;
  border: solid rgba(0, 0, 0, 0.07);
  border-width: 1px;
  border-radius: 5px;
  font-size: 25px;
  height: 65px;
}

.headerContent {
  float: left;
  position: relative;
  margin: auto;
  margin-left: 80px;
  width: 520px;
  border: 1px solid #f7f7f9;
}

.logo {
  position: relative;
  height: 55px;
  margin-top: 2px;
  margin-left: 60px;
  margin-right: 10px;
  float: left;
}

.generalContainer {
  position: relative;
  width: 800px;
}

.mainContent,
.rightSidebar {
  position: relative;
  display: inline-block;
  background-color: #f7f7f9;
  border: solid rgba(0, 0, 0, 0.07);
  border-width: 1px;
  border-radius: 5px;
  margin-top: 8px;
  padding: 10px;
}

.mainContent {
  width: 750px;
  float:left;
}

.rightSidebar {
  float: right;
  width: 320px;
}

.mainTable,
.rightTable {
  background-color: white;
  text-align: center;
  font-size: 15px;
}

.mainTable {
  width: 500px;
}

.mainTable th,
.rightTable th {
  text-align: center;
  font-size: 15px;
}

#maxRowsPerPageForm {
  position: relative;
  height: 32px;
  margin-top: 3px;
}

#maxRowsPerPageForm p {
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}

#maxRowsPerPage {
  width: 70px;
  height: 30px;
  font-size: 14px;
}

.rightTable {
  width: 200px;
}

.disabled {
  pointer-events: none;
}

#return-to-top,
#return-to-bottom {
  color: rgb(0, 0, 0);
  position: fixed;
  right: 22px;
  text-align: center;
  display: none;
}

#topBottomForm {
  position: fixed;
  right: 5px;
  bottom: 5px;
  background: rgb(180, 220, 150);
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

#return-to-top {
  bottom: 37px;
}

#return-to-bottom {
  bottom: 8px;
}